## ML Assignment 5

### Name : Rajendra Kelwa (2175048)

#### Question : Write a python program to construct a Bayesian Belief Network considering medical data.

### Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Importing the pgmpy (Probabilistic Graphical Models) library

In [3]:
from pgmpy.inference import VariableElimination
from pgmpy.models import BayesianModel
from pgmpy.estimators import MaximumLikelihoodEstimator, BayesianEstimator

In [4]:
columns = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca',
'thal', 'heartdisease']

In [5]:
heartDiseaseDataset = pd.read_csv('heart.csv', names = columns)
heartDiseaseDataset = heartDiseaseDataset.drop([0])

In [6]:
heartDiseaseDataset

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,heartdisease
1,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
2,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
3,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
4,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
5,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
300,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
301,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
302,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
303,57,0,1,130,236,0,0,174,0,0,1,1,2,0

In [8]:
heartDiseaseDataset = heartDiseaseDataset.replace('?', np.nan)

In [9]:
heartDiseaseDataset

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,heartdisease
1,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
2,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
3,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
4,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
5,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
300,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
301,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
302,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
303,57,0,1,130,236,0,0,174,0,0,1,1,2,0

### Building the Bayesian Model

In [10]:
bayesian_model = BayesianModel([('age', 'trestbps'), ('age', 'fbs'), ('sex', 'trestbps'), ('exang', 'trestbps'), ('trestbps','heartdisease'), ('fbs','heartdisease'), ('heartdisease','restecg'), ('heartdisease','thalach'),  ('heartdisease','chol')])

### Fitting the dataset to Bayesian Model

In [11]:
bayesian_model.fit(heartDiseaseDataset, estimator=MaximumLikelihoodEstimator)

### Variable Elimination to eliminate variables one by one which are irrelevant for the query

In [12]:
from pgmpy.inference import VariableElimination
HeartDisease_infer = VariableElimination(bayesian_model)

In [13]:
q = HeartDisease_infer.query(variables=['heartdisease'], evidence={'age': 37, 'sex' :0})

/home/safir/anaconda3/lib/python3.8/site-packages/pgmpy/factors/discrete/DiscreteFactor.py:518: UserWarning: Found unknown state name. Trying to switch to using all state names as state numbers
  warn(
Finding Elimination Order: :   0%|          | 0/6 [00:00<?, ?it/s]
  0%|          | 0/6 [00:00<?, ?it/s]
Eliminating: trestbps:   0%|          | 0/6 [00:00<?, ?it/s]
Eliminating: exang:   0%|          | 0/6 [00:00<?, ?it/s]
Eliminating: thalach:   0%|          | 0/6 [00:00<?, ?it/s]
Eliminating: chol:   0%|          | 0/6 [00:00<?, ?it/s]
Eliminating: fbs:   0%|          | 0/6 [00:00<?, ?it/s]
Eliminating: restecg: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6/6 [00:00<00:00, 280.34it/s]

In [14]:
print(q)

+-----------------+---------------------+
| heartdisease    |   phi(heartdisease) |
+=================+=====================+
| heartdisease(0) |              0.4404 |
+-----------------+---------------------+
| heartdisease(1) |              0.5596 |
+-----------------+---------------------+